<!DOCTYPE HTML>
<html>
  <head>
    <title>Itemised Billing</title>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class = "col-md-3">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="/all">All <span class="badge">{{all}}</span></a></li>
      <li><a href="/mtn">MTN <span class="badge">{{mtn}}</span></a></li>
      <li><a href="/vodacom">Vodacom <span class="badge">{{vodacom}}</span></a></li>
      <li><a href="/cellc">Cell C <span class="badge">{{cellc}}</span></a></li>
    </ul>
    </div>
    <div class = "col-md-9">
      {{{body}}}
    </div>
  </body>
</html>
