<!DOCTYPE HTML>
<html>
  <head>
    <title>Itemised Billing</title>
    <link rel = "stylesheet" href = "/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class = "col-md-3">
    <ul class="list-group">
      <a href="/all"><li class="list-group-item"><span class="badge">{{all}}</span>All </li></a>
      <a href="/mtn"><li class="list-group-item"><span class="badge">{{mtn}}</span>MTN </li></a>
      <a href="/vodacom"><li class="list-group-item"><span class="badge">{{vodacom}}</span>Vodacom </li></a>
      <a href="/cellc"><li class="list-group-item"><span class="badge">{{cellc}}</span>Cell C </li></a>
    </ul>
    </div>
    <div class = "col-md-9">
      {{{body}}}
    </div>
  </body>
</html>
