<div class = "col-md-3">
<ul class="nav nav-pills nav-stacked">
  <li><a href="/all">All <span class="badge">{{all}}</span></a></li>
  <li><a href="/mtn">MTN <span class="badge">{{mtn}}</span></a></li>
  <li><a href="/vodacom">Vodacom <span class="badge">{{vodacom}}</span></a></li>
  <li><a href="/cellc">Cell C <span class="badge">{{cellc}}</span></a></li>
</ul>
</div>
<!--
<div class="panel panel-default">
  <div class="panel-heading">All Calls</div>
  <div class="panel-body">
    <table class="table table-bordered">
      <tr>
        <th>Date</th>
        <th>Provider</th>
        <th>Number</th>
        <th>Duration</th>
      </tr>
      {{#bill}}
      <tr>
        <td>{{date}}</td>
        <td>{{provider}}</td>
        <td>{{number}}</td>
        <td>{{duration}}</td>
      <tr>
      {{/bill}}
    </table>
  </div>
</div>
-->
